@page "/colorpicker"

@using System.Drawing
@using CdCSharp.NjBlazor.Features.ColorPicker.Components

<h2>NjColorPicker</h2>

<NjColorPicker @bind-PickedColor="CurrentValue" OnSave="AcceptPicker" OnCancel="CancelPicker"></NjColorPicker>

@code {
    private Color CurrentValue;

    protected Task AcceptPicker()
    {
        return Task.CompletedTask;
    }

    protected Task CancelPicker()
    {
        return Task.CompletedTask;
    }

}
