@page "/draggable"
@using CdCSharp.NjBlazor.Features.Draggable.Components

<NjDraggable OnDragStart="DragStart" OnDrag="Drag" OnDragEnds="DragEnds" OnMouseLeave="MouseLeave">
    <div style="width:500px; height:500px; background-color:#666666"></div>

</NjDraggable>

@TestText

@code {
    private string TestText { get; set; } = string.Empty;

    private void DragStart(MouseEventArgs args){
        TestText = "DragStart";
    }
    private void Drag(MouseEventArgs args)
    {
        TestText = "Drag";
    }
    private void DragEnds(MouseEventArgs args)
    {
        TestText = "DragEnds";
    }
    private void MouseLeave(MouseEventArgs args)
    {
        TestText = "MouseLeave";
    }
}
