@page "/containers"
@using CdCSharp.NjBlazor.Features.Containers.Components

<h2>NjFitContent</h2>

<NjFitContent>CONTENT</NjFitContent>

<h2>NjInputControl</h2>

<NjInputControl>HERE INPUT CONTROL</NjInputControl>

<h2>NjShadowBox</h2>

<NjShadowBox>CONTENT</NjShadowBox>

@code {

}
