@page "/thememode"

@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown
@using CdCSharp.NjBlazor.Features.ThemeMode.Components.ModeSelector

<div class="nj-p-5">

    @if (Fragment == null)
    {
        <NjSpinner Variant="NjSpinnerVariant.Default"/>
    }
    else
    {
        @Fragment
    }

</div>

@* CODE *@

<h2>NjThemeModeSelector</h2>

<h3>NjThemeModeSelectorVariant.SunMoon</h3>

<NjThemeModeSelector Variant="NjThemeModeSelectorVariant.SunMoon" />

<br />
<h3>NjThemeModeSelectorVariant.Flat</h3>

<NjThemeModeSelector Variant="NjThemeModeSelectorVariant.Flat" />

@code {
    RenderFragment? Fragment;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            HttpClient client = new HttpClient();
            string contentMd = await client.GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Theme-Mode.md");

            Fragment = MarkdownToRenderFragmentParser.ParseText(contentMd);
            await InvokeAsync(StateHasChanged);
        }
    }
}
