@page "/grid"
@using CdCSharp.NjBlazor.Core
@using CdCSharp.NjBlazor.Features.Layout.Components.Grid

<h2>FILL</h2>
<NjGrid TemplateColumns="TemplateColumnsMode.Fill">
    <NjGridCell Row="1">
        Header HERE
    </NjGridCell>
    <NjGridCell Row="2">
        Content HERE
    </NjGridCell>
    <NjGridCell Row="3">
        Content HERE
    </NjGridCell>
</NjGrid>

<h2>FIT</h2>
<NjGrid TemplateColumns="TemplateColumnsMode.Fit">
    <NjGridCell Row="1">
        Header HERE
    </NjGridCell>
    <NjGridCell Row="2">
        Content HERE
    </NjGridCell>
    <NjGridCell Row="3">
        Content HERE
    </NjGridCell>
</NjGrid>

@code {

}
