@page "/thememode"

@using CdCSharp.NjBlazor.Features.ThemeMode.Components.ModeSelector

<h2>NjThemeModeSelector</h2>

<h3>NjThemeModeSelectorVariant.SunMoon</h3>

<NjThemeModeSelector Variant="NjThemeModeSelectorVariant.SunMoon" />

<br />
<h3>NjThemeModeSelectorVariant.Flat</h3>

<NjThemeModeSelector Variant="NjThemeModeSelectorVariant.Flat" />

@code {

}
