@page "/devicemanager"

@using CdCSharp.NjBlazor.Features.DeviceManager.Components
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown

<div class="nj-p-5">

    @if (Fragment == null)
    {
        <NjSpinner Variant="NjSpinnerVariant.Default" />
    }
    else
    {
        @Fragment
    }

</div>

<h2>Device Manager</h2>

<NjDeviceManager @ref="_deviceManager" DeviceWidthChanged="StateHasChanged" />

<div>Value changed depending on device display: @(_deviceManager?.GetByWidth("ValueMobile", "ValueTablet", "ValueDesktop", "ValueLargeDesktop") ?? "DefaultValue")</div>


@code {
    NjDeviceManager? _deviceManager;

    RenderFragment? Fragment;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            HttpClient client = new HttpClient();
            string contentMd = await client.GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Device-Manager.md");

            Fragment = MarkdownToRenderFragmentParser.ParseText(contentMd);
            await InvokeAsync(StateHasChanged);
        }
    }
}
