@using CdCSharp.NjBlazor.Core.Abstractions.Components

@namespace CdCSharp.NjBlazor.Features.Layout.Components.Spacer

@inherits NjComponentBase

<div @attributes="FilteredAdditionalAttributes" class="@Class" style="@InlineStyle"></div>

@code {
    
}
