@using CdCSharp.NjBlazor.Core.Abstractions.Components

@namespace CdCSharp.NjBlazor.Features.Containers.Components

@inherits NjComponentBase

<div class="@(AsClass("nj-fit-content", Class))">
    @ChildContent
</div>

@code {

}
