@using CdCSharp.NjBlazor.Core.Abstractions.Components

@namespace CdCSharp.NjBlazor.Features.Containers.Components

@inherits NjComponentBase

@if (FormControl)
{
    <div @attributes="FilteredAdditionalAttributes" class="@(AsClass("nj-input-control nj-input-control-formcontrol", DisabledClass, FormControlClass, Class))">
        <div class="nj-input-control-input-container">
            @ChildContent
        </div>
    </div>
}
else
{
    <div @attributes="FilteredAdditionalAttributes" class="@(AsClass("nj-input-control", DisabledClass, FormControlClass, Class))">
        <div class="nj-input-control-input-container">
            @ChildContent
        </div>
    </div>
}


@code {


}
