@using CdCSharp.NjBlazor.Core.Abstractions.Components

@namespace CdCSharp.NjBlazor.Features.Containers.Components

@inherits NjComponentBase

<div style="box-shadow: @GetBoxShadow();">
    @ChildContent
</div>

@code {

}