html.dark {
--palette-appbarbackground: var(--dark-appbarbackground);
--palette-appbarcontrast: var(--dark-appbarcontrast);
--palette-background: var(--dark-background);
--palette-backgroundcontrast: var(--dark-backgroundcontrast);
--palette-black: var(--dark-black);
--palette-error: var(--dark-error);
--palette-info: var(--dark-info);
--palette-inputbackground: var(--dark-inputbackground);
--palette-inputbordercolor: var(--dark-inputbordercolor);
--palette-inputcolor: var(--dark-inputcolor);
--palette-inputoptionscolor: var(--dark-inputoptionscolor);
--palette-inputoptionsbackground: var(--dark-inputoptionsbackground);
--palette-primary: var(--dark-primary);
--palette-primarycontrast: var(--dark-primarycontrast);
--palette-secondary: var(--dark-secondary);
--palette-secondarycontrast: var(--dark-secondarycontrast);
--palette-success: var(--dark-success);
--palette-tertiary: var(--dark-tertiary);
--palette-tertiarycontrast: var(--dark-tertiarycontrast);
--palette-textdisabled: var(--dark-textdisabled);
--palette-warning: var(--dark-warning);
--palette-errorcontrast: var(--dark-errorcontrast);
--palette-infocontrast: var(--dark-infocontrast);
--palette-loadingbarcolor: var(--dark-loadingbarcolor);
--palette-overlaydark: var(--dark-overlaydark);
--palette-overlaylight: var(--dark-overlaylight);
--palette-successcontrast: var(--dark-successcontrast);
--palette-warningcontrast: var(--dark-warningcontrast);
--palette-white: var(--dark-white);
}
html.light {
--palette-appbarbackground: var(--light-appbarbackground);
--palette-appbarcontrast: var(--light-appbarcontrast);
--palette-background: var(--light-background);
--palette-backgroundcontrast: var(--light-backgroundcontrast);
--palette-black: var(--light-black);
--palette-error: var(--light-error);
--palette-info: var(--light-info);
--palette-inputbackground: var(--light-inputbackground);
--palette-inputbordercolor: var(--light-inputbordercolor);
--palette-inputcolor: var(--light-inputcolor);
--palette-inputoptionscolor: var(--light-inputoptionscolor);
--palette-inputoptionsbackground: var(--light-inputoptionsbackground);
--palette-primary: var(--light-primary);
--palette-primarycontrast: var(--light-primarycontrast);
--palette-secondary: var(--light-secondary);
--palette-secondarycontrast: var(--light-secondarycontrast);
--palette-success: var(--light-success);
--palette-tertiary: var(--light-tertiary);
--palette-tertiarycontrast: var(--light-tertiarycontrast);
--palette-textdisabled: var(--light-textdisabled);
--palette-warning: var(--light-warning);
--palette-white: var(--light-white);
--palette-errorcontrast: var(--light-errorcontrast);
--palette-infocontrast: var(--light-infocontrast);
--palette-loadingbarcolor: var(--light-loadingbarcolor);
--palette-overlaydark: var(--light-overlaydark);
--palette-overlaylight: var(--light-overlaylight);
--palette-successcontrast: var(--light-successcontrast);
--palette-warningcontrast: var(--light-warningcontrast);
}
.disabled {
opacity: 0.5;
pointer-events: none;
cursor: crosshair;
}
.pointer {
cursor: pointer;
}
.nj-level-hidden {
z-index: -1;
}
.nj-level-0 {
z-index: 0;
}
.nj-level-1 {
z-index: 100;
}
.nj-level-2 {
z-index: 200;
}
.nj-level-3 {
z-index: 300;
}
.nj-level-4 {
z-index: 300;
}
.nj-level-5 {
z-index: 500;
}
.nj-level-6 {
z-index: 600;
}
.nj-level-7 {
z-index: 700;
}
.nj-level-8 {
z-index: 800;
}
.nj-level-9 {
z-index: 900;
}
.nj-level-10 {
z-index: 1000;
}
body {
background-color: var(--palette-background);
color: var(--palette-backgroundcontrast);
}
.nj-color-palette {
color: var(--palette-backgroundcontrast);
}
.nj-color-primary {
color: var(--palette-primary);
}
nj-color-secondary {
color: var(--palette-secondary);
}
.nj-color-tertiary {
color: var(--palette-tertiary);
}
.nj-bg-palette {
background-color: var(--palette-background);
}
.nj-bg-primary {
background-color: var(--palette-primary);
}
.nj-bg-secondary {
background-color: var(--palette-secondary);
}
.nj-bg-tertiary {
background-color: var(--palette-tertiary);
}
.nj-flex {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -moz-flex;
display: -webkit-flex;
display: flex;
}
.nj-flex-inline {
display: -webkit-inline-box;
display: -moz-inline-box;
display: -ms-inline-flexbox;
display: -moz-inline-flex;
display: -webkit-inline-flex;
display: inline-flex;
}
.nj-flex.row, .nj-flex-inline.row {
flex-direction: row;
}
.nj-flex.row-reverse, .nj-flex-inline.row-reverse {
flex-direction: row-reverse;
}
.nj-flex.column, .nj-flex-inline.column {
flex-direction: column;
}
.nj-flex.column-reverse, .nj-flex-inline.column-reverse {
flex-direction: column-reverse;
}
.nj-flex-wrap-nowrap {
flex-wrap: nowrap;
}
.nj-flex-wrap-wrap {
flex-wrap: wrap;
}
.nj-flex-wrap-wrap-reverse {
flex-wrap: wrap-reverse;
}
.nj-gap-0 {
gap: 0rem;
}
.nj-gap-1 {
gap: 0.8rem;
}
.nj-gap-2 {
gap: 1.6rem;
}
.nj-gap-3 {
gap: 2.4rem;
}
.nj-gap-4 {
gap: 3.2rem;
}
.nj-gap-5 {
gap: 4rem;
}
.nj-gap-6 {
gap: 4.8rem;
}
.nj-gap-7 {
gap: 5.6rem;
}
.nj-gap-8 {
gap: 6.4rem;
}
.nj-gap-9 {
gap: 7.2rem;
}
.nj-gap-10 {
gap: 8rem;
}
.nj-flex-align-items-baseline {
align-items: baseline;
}
.nj-flex-align-items-center {
align-items: center;
}
.nj-flex-align-items-start {
align-items: flex-start;
}
.nj-flex-align-items-end {
align-items: flex-end;
}
.nj-flex-align-items-stretch {
align-items: stretch;
}
.nj-align-self-auto {
align-self: auto;
}
.nj-align-self-start {
align-self: flex-start;
}
.nj-align-self-end {
align-self: flex-end;
}
.nj-align-self-center {
align-self: center;
}
.nj-align-self-baseline {
align-self: baseline;
}
.nj-align-self-stretch {
align-self: stretch;
}
.nj-flex-justify-items-start {
justify-items: flex-start;
}
.nj-flex-justify-items-end {
justify-items: flex-end;
}
.nj-flex-justify-items-center {
justify-items: center;
}
.nj-flex-justify-items-stretch {
justify-items: stretch;
}
.nj-flex-justify-items-normal {
justify-items: normal;
}
.nj-justify-content-start {
justify-content: flex-start;
}
.nj-justify-content-center {
justify-content: center;
}
.nj-justify-content-end {
justify-content: flex-end;
}
.nj-justify-content-space-between {
justify-content: space-between;
}
.nj-justify-content-space-around {
justify-content: space-around;
}
.nj-justify-content-space-evenly {
justify-content: space-evenly;
}
.nj-position-static {
position: static;
}
.nj-position-relative {
position: relative;
}
.nj-position-absolute {
position: absolute;
}
.nj-position-fixed {
position: fixed;
}
.nj-position-sticky {
position: sticky;
}
.nj-text-center {
text-align: center;
}
.nj-text-right {
text-align: right;
}
.nj-text-bold {
font-weight: bold;
}
.nj-text-italic {
font-style: italic;
}
.nj-text-underline {
text-decoration: underline;
}
.nj-fit-content {
width: fit-content;
width: -moz-fit-content;
}
.nj-w-100 {
width: 100%;
}
.nj-w-100vh {
width: 100vh;
}
.nj-h-100vh {
height: 100vh;
}
.nj-p-0 {
padding: 0;
}
.nj-px-0 {
padding-left: 0;
padding-right: 0;
}
.nj-py-0 {
padding-top: 0;
padding-bottom: 0;
}
.nj-m-0 {
margin: 0;
}
.nj-mx-0 {
margin-left: 0;
margin-right: 0;
}
.nj-my-0 {
margin-top: 0;
margin-bottom: 0;
}
.nj-p-1 {
padding: 0.4rem;
}
.nj-px-1 {
padding-left: 0.4rem;
padding-right: 0.4rem;
}
.nj-py-1 {
padding-top: 0.4rem;
padding-bottom: 0.4rem;
}
.nj-m-1 {
margin: 0.4rem;
}
.nj-mx-1 {
margin-left: 0.4rem;
margin-right: 0.4rem;
}
.nj-my-1 {
margin-top: 0.4rem;
margin-bottom: 0.4rem;
}
.nj-p-2 {
padding: 0.8rem;
}
.nj-px-2 {
padding-left: 0.8rem;
padding-right: 0.8rem;
}
.nj-py-2 {
padding-top: 0.8rem;
padding-bottom: 0.8rem;
}
.nj-m-2 {
margin: 0.8rem;
}
.nj-mx-2 {
margin-left: 0.8rem;
margin-right: 0.8rem;
}
.nj-my-2 {
margin-top: 0.8rem;
margin-bottom: 0.8rem;
}
.nj-p-3 {
padding: 1.2rem;
}
.nj-px-3 {
padding-left: 1.2rem;
padding-right: 1.2rem;
}
.nj-py-3 {
padding-top: 1.2rem;
padding-bottom: 1.2rem;
}
.nj-m-3 {
margin: 1.2rem;
}
.nj-mx-3 {
margin-left: 1.2rem;
margin-right: 1.2rem;
}
.nj-my-3 {
margin-top: 1.2rem;
margin-bottom: 1.2rem;
}
.nj-p-4 {
padding: 1.6rem;
}
.nj-px-4 {
padding-left: 1.6rem;
padding-right: 1.6rem;
}
.nj-py-4 {
padding-top: 1.6rem;
padding-bottom: 1.6rem;
}
.nj-m-4 {
margin: 1.6rem;
}
.nj-mx-4 {
margin-left: 1.6rem;
margin-right: 1.6rem;
}
.nj-my-4 {
margin-top: 1.6rem;
margin-bottom: 1.6rem;
}
.nj-p-5 {
padding: 2rem;
}
.nj-px-5 {
padding-left: 2rem;
padding-right: 2rem;
}
.nj-py-5 {
padding-top: 2rem;
padding-bottom: 2rem;
}
.nj-m-5 {
margin: 2rem;
}
.nj-mx-5 {
margin-left: 2rem;
margin-right: 2rem;
}
.nj-my-5 {
margin-top: 2rem;
margin-bottom: 2rem;
}
.nj-p-6 {
padding: 2.4rem;
}
.nj-px-6 {
padding-left: 2.4rem;
padding-right: 2.4rem;
}
.nj-py-6 {
padding-top: 2.4rem;
padding-bottom: 2.4rem;
}
.nj-m-6 {
margin: 2.4rem;
}
.nj-mx-6 {
margin-left: 2.4rem;
margin-right: 2.4rem;
}
.nj-my-6 {
margin-top: 2.4rem;
margin-bottom: 2.4rem;
}
.nj-p-7 {
padding: 2.8rem;
}
.nj-px-7 {
padding-left: 2.8rem;
padding-right: 2.8rem;
}
.nj-py-7 {
padding-top: 2.8rem;
padding-bottom: 2.8rem;
}
.nj-m-7 {
margin: 2.8rem;
}
.nj-mx-7 {
margin-left: 2.8rem;
margin-right: 2.8rem;
}
.nj-my-7 {
margin-top: 2.8rem;
margin-bottom: 2.8rem;
}
.nj-p-8 {
padding: 3.2rem;
}
.nj-px-8 {
padding-left: 3.2rem;
padding-right: 3.2rem;
}
.nj-py-8 {
padding-top: 3.2rem;
padding-bottom: 3.2rem;
}
.nj-m-8 {
margin: 3.2rem;
}
.nj-mx-8 {
margin-left: 3.2rem;
margin-right: 3.2rem;
}
.nj-my-8 {
margin-top: 3.2rem;
margin-bottom: 3.2rem;
}
.nj-p-9 {
padding: 3.6000001rem;
}
.nj-px-9 {
padding-left: 3.6000001rem;
padding-right: 3.6000001rem;
}
.nj-py-9 {
padding-top: 3.6000001rem;
padding-bottom: 3.6000001rem;
}
.nj-m-9 {
margin: 3.6000001rem;
}
.nj-mx-9 {
margin-left: 3.6000001rem;
margin-right: 3.6000001rem;
}
.nj-my-9 {
margin-top: 3.6000001rem;
margin-bottom: 3.6000001rem;
}
