:root { /* Nj Theme : Palette */
--palette-appbarbackground: rgba(13,13,13,1);
--palette-appbarcontrast: rgba(230,230,230,1);
--palette-background: rgba(13,13,13,1);
--palette-backgroundcontrast: rgba(230,230,230,1);
--palette-black: rgba(13,13,13,1);
--palette-error: rgba(255,0,0,1);
--palette-info: rgba(30,144,255,1);
--palette-inputbackground: rgba(255,255,255,0);
--palette-inputbordercolor: rgba(230,230,230,0.8);
--palette-inputcolor: rgba(230,230,230,1);
--palette-inputoptionscolor: rgba(26,26,26,1);
--palette-inputoptionsbackground: rgba(230,230,230,1);
--palette-primary: rgba(196,18,54,1);
--palette-primarycontrast: rgba(243,243,243,1);
--palette-secondary: rgba(0,178,178,1);
--palette-secondarycontrast: rgba(0,0,0,1);
--palette-success: rgba(39,160,39,1);
--palette-tertiary: rgba(225,175,51,1);
--palette-tertiarycontrast: rgba(0,0,0,1);
--palette-textdisabled: rgba(183,191,200,0.4980392156862745);
--palette-warning: rgba(255,165,0,1);
--palette-errorcontrast: rgba(255,255,255,1);
--palette-infocontrast: rgba(255,255,255,1);
--palette-loadingbarcolor: rgba(255,0,0,1);
--palette-overlaydark: rgba(128,128,128,0.4980392156862745);
--palette-overlaylight: rgba(255,255,255,0.4980392156862745);
--palette-successcontrast: rgba(255,255,255,1);
--palette-warningcontrast: rgba(255,255,255,1);
--palette-white: rgba(255,255,255,1);
--dark-appbarbackground: rgba(13,13,13,1);
--dark-appbarcontrast: rgba(230,230,230,1);
--dark-background: rgba(13,13,13,1);
--dark-backgroundcontrast: rgba(230,230,230,1);
--dark-black: rgba(13,13,13,1);
--dark-error: rgba(255,0,0,1);
--dark-info: rgba(30,144,255,1);
--dark-inputbackground: rgba(255,255,255,0);
--dark-inputbordercolor: rgba(230,230,230,0.8);
--dark-inputcolor: rgba(230,230,230,1);
--dark-inputoptionscolor: rgba(26,26,26,1);
--dark-inputoptionsbackground: rgba(230,230,230,1);
--dark-primary: rgba(196,18,54,1);
--dark-primarycontrast: rgba(243,243,243,1);
--dark-secondary: rgba(0,178,178,1);
--dark-secondarycontrast: rgba(0,0,0,1);
--dark-success: rgba(39,160,39,1);
--dark-tertiary: rgba(225,175,51,1);
--dark-tertiarycontrast: rgba(0,0,0,1);
--dark-textdisabled: rgba(183,191,200,0.4980392156862745);
--dark-warning: rgba(255,165,0,1);
--dark-errorcontrast: rgba(255,255,255,1);
--dark-infocontrast: rgba(255,255,255,1);
--dark-loadingbarcolor: rgba(255,0,0,1);
--dark-overlaydark: rgba(128,128,128,0.4980392156862745);
--dark-overlaylight: rgba(255,255,255,0.4980392156862745);
--dark-successcontrast: rgba(255,255,255,1);
--dark-warningcontrast: rgba(255,255,255,1);
--dark-white: rgba(255,255,255,1);
--light-appbarbackground: rgba(217,217,217,1);
--light-appbarcontrast: rgba(26,26,26,1);
--light-background: rgba(217,217,217,1);
--light-backgroundcontrast: rgba(26,26,26,1);
--light-black: rgba(13,13,13,1);
--light-error: rgba(255,0,0,1);
--light-info: rgba(30,144,255,1);
--light-inputbackground: rgba(255,255,255,0);
--light-inputbordercolor: rgba(26,26,26,0.8);
--light-inputcolor: rgba(0,0,0,1);
--light-inputoptionscolor: rgba(217,217,217,1);
--light-inputoptionsbackground: rgba(26,26,26,1);
--light-primary: rgba(196,18,54,1);
--light-primarycontrast: rgba(243,243,243,1);
--light-secondary: rgba(0,178,178,1);
--light-secondarycontrast: rgba(0,0,0,1);
--light-success: rgba(39,160,39,1);
--light-tertiary: rgba(225,175,51,1);
--light-tertiarycontrast: rgba(0,0,0,1);
--light-textdisabled: rgba(0,0,0,0.3764705882352941);
--light-warning: rgba(255,165,0,1);
--light-white: rgba(230,230,230,1);
--light-errorcontrast: rgba(255,255,255,1);
--light-infocontrast: rgba(255,255,255,1);
--light-loadingbarcolor: rgba(255,0,0,1);
--light-overlaydark: rgba(128,128,128,0.4980392156862745);
--light-overlaylight: rgba(255,255,255,0.4980392156862745);
--light-successcontrast: rgba(255,255,255,1);
--light-warningcontrast: rgba(255,255,255,1);
}
