.nj-sidebar {
    z-index: 500;
    scroll-behavior: smooth;
    width: 100%;
    position: fixed;
}
    .nj-sidebar:not(.open) {
        overflow: hidden;
    }
    .nj-sidebar.open {
        overflow-y: hidden;
    }

.nj-sidebar-content {
    display: none;
    padding-top: 4em;
    z-index: 500;
    background-color: var(--palette-appbarbackground);
    color: var(--palette-appbarcontrast);
}

.nj-sidebar.open .nj-sidebar-content {
    display: flex;
}


