@namespace CdCSharp.NjBlazor.Features.ThemeMode.Components.ModeSelector.Variants

@inherits NjThemeModeSelectorBase

<div id="sunMoonSwitchThemeMode_root" class="@Class" @onclick="ToggleDarkMode">
    <div class="switch">
        <input type="checkbox" class="@DarkClass">
        <div class="switch__button"></div>
        <div class="switch__background"></div>
    </div>
</div>

@code {
    

}