.nj-text-button-variant-outline {
    background-color: var(--palette-primary);
    font-weight: bold;
    color: var(--palette-primarycontrast);

    border: 2px solid var(--palette-secondary);
}

    .nj-text-button-variant-outline:hover,
    .nj-text-button-variant-outline:focus,
    .nj-text-button-variant-outline:active,
    .nj-text-button-variant-outline.active {
        background-color: var(--palette-secondary);
        color: var(--palette-secondarycontrast);

        border: 2px solid var(--palette-primary);
    }
