.nj-text-button-variant-flat {
    background-color: var(--palette-primary);
    font-weight: bold;
    color: var(--palette-primarycontrast);
}

    .nj-text-button-variant-flat:hover,
    .nj-text-button-variant-flat:focus,
    .nj-text-button-variant-flat:active,
    .nj-text-button-variant-flat.active {
        background-color: var(--palette-secondary);
        color: var(--palette-secondarycontrast);
    }