@using CdCSharp.NjBlazor.Features.Layout.Components.Layout
@using CdCSharp.NjBlazor.Features.Layout.Components.Spacer

@inherits LayoutComponentBase

@layout EmptyLayout

<Nav/>

<NjSpacer VerticalRelativeToQuery="nav" />

<div style="min-height:100vh">
    @Body
</div>

<Footer/>