.nj-action-button.nj-action-button-variant-outline {
    border: 1px solid var(--palette-inputbordercolor)
}

    .nj-action-button.nj-action-button-variant-outline:hover,
    .nj-action-button.nj-action-button-variant-outline:focus {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .nj-action-button.nj-action-button-variant-outline:active,
    .nj-action-button.nj-action-button-variant-outline:active {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .nj-action-button.nj-action-button-variant-outline:disabled {
    }
