@page "/help"
@using CdCSharp.NjBlazor.Features.Controls.Components.Button.LinkButton
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Help> Loc

<PageTitle>@Loc["CdCSharp NjBlazor - Help"]</PageTitle>

<div class="nj-p-5 nj-text-center">
    <h2>Contact</h2>

    <p>Join the <NjLinkButton PreAdornment="@Features.Media.Icons.NjIcons.Custom.Brands.Discord" Href="https://discord.gg/zRB676nx2H"></NjLinkButton> community</p>

    <iframe src="https://discord.com/widget?id=1329618533465850006&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

</div>

@code {

}
