@page "/docs/forms-inputcolor"

@using CdCSharp.NjBlazor.Core.Css
@using CdCSharp.NjBlazor.Features.Containers.Components
@using CdCSharp.NjBlazor.Features.Forms.Checkbox
@using CdCSharp.NjBlazor.Features.Forms.Color
@using CdCSharp.NjBlazor.Features.Forms.Date
@using CdCSharp.NjBlazor.Features.Forms.Dropdown
@using CdCSharp.NjBlazor.Features.Forms.Dropdown.IconDropdown
@using CdCSharp.NjBlazor.Features.Forms.File
@using CdCSharp.NjBlazor.Features.Forms.Number
@using CdCSharp.NjBlazor.Features.Forms.Radio
@using CdCSharp.NjBlazor.Features.Forms.Range
@using CdCSharp.NjBlazor.Features.Forms.Text
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown
@using CdCSharp.NjBlazor.Features.Markdown.Components

@inject IStringLocalizer<PageForms> Loc

<div class="nj-p-5">
    <h2>NjInputColor</h2>
    <hr />
    <NjInputColor @bind-Value="NjColorValue"></NjInputColor>
    <hr />
    <h3>Readonly</h3>
    <NjInputColor ReadOnly="true" @bind-Value="NjColorValueSet"></NjInputColor>
    <hr />
    <h3>Disabled</h3>
    <NjInputColor Disabled="true" @bind-Value="NjColorValueSet"></NjInputColor>

</div>
<div class="nj-p-5">

    <NjMarkdownFragment Content="@(async () => await new HttpClient().GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Forms-InputColor.md"))"></NjMarkdownFragment>

</div>

@code {

    public System.Drawing.Color NjColorValue { get; set; }
    public System.Drawing.Color NjColorValueSet { get; set; } = System.Drawing.Color.Azure;

}
