@page "/docs/forms-inputradio"

@using CdCSharp.NjBlazor.Core.Css
@using CdCSharp.NjBlazor.Features.Containers.Components
@using CdCSharp.NjBlazor.Features.Forms.Checkbox
@using CdCSharp.NjBlazor.Features.Forms.Color
@using CdCSharp.NjBlazor.Features.Forms.Date
@using CdCSharp.NjBlazor.Features.Forms.Dropdown
@using CdCSharp.NjBlazor.Features.Forms.Dropdown.IconDropdown
@using CdCSharp.NjBlazor.Features.Forms.File
@using CdCSharp.NjBlazor.Features.Forms.Number
@using CdCSharp.NjBlazor.Features.Forms.Radio
@using CdCSharp.NjBlazor.Features.Forms.Range
@using CdCSharp.NjBlazor.Features.Forms.Text
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown
@using CdCSharp.NjBlazor.Features.Markdown.Components

@inject IStringLocalizer<PageForms> Loc

<div class="nj-p-5">
    <h2>NjInputRadio</h2>
    <hr />
    <NjInputRadio @bind-Value="NjRadioButtonValue" Variant="NjInputRadioVariant.Classic">
        <NjInputRadioOption Value="Yes">Yes</NjInputRadioOption>
        <NjInputRadioOption Value="No"><div style="color:red">No</div></NjInputRadioOption>
    </NjInputRadio>
    <hr />
    <h3>Readonly</h3>
    <NjInputRadio ReadOnly="true" @bind-Value="NjRadioButtonValueSet" Variant="NjInputRadioVariant.Classic">
        <NjInputRadioOption Value="Yes">Yes</NjInputRadioOption>
        <NjInputRadioOption Value="No"><div style="color:red">No</div></NjInputRadioOption>
    </NjInputRadio>
    <hr />
    <h3>Disabled</h3>
    <NjInputRadio Disabled="true" @bind-Value="NjRadioButtonValueSet" Variant="NjInputRadioVariant.Classic">
        <NjInputRadioOption Value="Yes">Yes</NjInputRadioOption>
        <NjInputRadioOption Value="No"><div style="color:red">No</div></NjInputRadioOption>
    </NjInputRadio>

</div>
<div class="nj-p-5">

    <NjMarkdownFragment Content="@(async () => await new HttpClient().GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Forms-RadioButton.md"))"></NjMarkdownFragment>

</div>


@code {

    public string? NjRadioButtonValue { get; set; }
    public string? NjRadioButtonValueSet { get; set; } = "No";

}
