@page "/docs/media"

@using CdCSharp.NjBlazor.Core
@using CdCSharp.NjBlazor.Features.Markdown.Components
@using CdCSharp.NjBlazor.Features.Media.Components
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown

<h2>NjImage</h2>

 <NjImage Width="50" Height="50"
                         Src="./njframework512.svg"
                         AlignSelf="AlignSelfMode.FlexStart"
                         Alt="Nj Blazor Logo" />

<h2>NjSvgIcon</h2>

<NjSvgIcon Icon="@Features.Media.Icons.NjIcons.Materials.MaterialIconsSharp.i_biotech" Color="@Core.Css.NjColors.Azure.Default" />

<div class="nj-p-5">

    <NjMarkdownFragment Content="@(async () => await new HttpClient().GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Media.md"))"></NjMarkdownFragment>

</div>

@code {

}
