@page "/docs/audio"

@using CdCSharp.NjBlazor.Features.Audio.Components
@using CdCSharp.NjBlazor.Features.Markdown.Components
@using CdCSharp.NjBlazor.Features.ThemeMode.Components.ModeSelector
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown

<h2>NjRecorder</h2>

<NjRecorder></NjRecorder>

<div class="nj-p-5">

    <NjMarkdownFragment Content="@(async () => await new HttpClient().GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Audio.md"))"></NjMarkdownFragment>

</div>

@code {
   
}

