@page "/docs/meter"

@using CdCSharp.NjBlazor.Features.Controls.Components.Meter
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown
@using CdCSharp.NjBlazor.Features.Markdown.Components

<div class="nj-p-5">
    <h2>NjMeter</h2>
    <NjMeter MaxWidthPx="300" Low="25" High="50" Optimum="75" FormControl="true" Value="15"></NjMeter>
    <NjMeter MaxWidthPx="300" Low="25" High="50" Optimum="75" FormControl="true" Value="55"></NjMeter>
    <NjMeter MaxWidthPx="300" Low="25" High="50" Optimum="75" FormControl="true" Value="90"></NjMeter>

</div>
<div class="nj-p-5">

    <NjMarkdownFragment Content="@(async () => await new HttpClient().GetStringAsync("https://raw.githubusercontent.com/wiki/smaicas/CdCSharp.NjBlazor/Meter.md"))"></NjMarkdownFragment>

</div>

@code {

}
