@using CdCSharp.NjBlazor.Core.Abstractions.Components

@namespace CdCSharp.NjBlazor.Features.Layout.Components.Stack

@inherits NjComponentBase

<div class="@CssClass" style="@($"flex-grow:{Grow};")">
    @ChildContent
</div>

@code {
    

}