@page "/start"
@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner
@using CdCSharp.NjBlazor.Features.Markdown
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<GettingStarted> Loc

<PageTitle>@Loc["CdCSharp NjBlazor - Getting started"]</PageTitle>

<div class="nj-p-5">

    @if (ReadmeFragment == null)
    {
        <NjSpinner Variant="NjSpinnerVariant.Default"/>
    }
    else
    {
        @ReadmeFragment
    }

</div>

@code {
    RenderFragment? ReadmeFragment;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            HttpClient client = new HttpClient();
            string contentMd = await client.GetStringAsync("https://raw.githubusercontent.com/smaicas/CdCSharp.NjBlazor/master/README.md");

            ReadmeFragment = MarkdownToRenderFragmentParser.ParseText(contentMd);
            await InvokeAsync(StateHasChanged);
        }
    }
}
