@page "/"

<PageTitle>FEATURES</PageTitle>

<h2>Main Features</h2>

<div class="nj-p-5">
    <NavLink href="/thememode">Theme Mode</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/grid">Grid</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/table">Table</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/audio">Audio</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/colorpicker">ColorPicker</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/containers">Containers</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/tree">Tree</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/controls">Controls</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/forms">Forms</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/localization">Localization</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/media">Media</NavLink>
</div>

<h2>Other features:</h2>

<div class="nj-p-5">
    <NavLink href="/colorspalette">Colors Palette</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/iconslist">Icons List</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/codehighlight">Code Highlight</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/layout">Layout</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/tabs">Tabs</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/stack">Stack</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/devicemanager">Device Manager</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/draggable">Draggable</NavLink>
</div>
<div class="nj-p-5">
    <NavLink href="/markdownrender">Markdown Render</NavLink>
</div>