@page "/devicemanager"

@using CdCSharp.NjBlazor.Features.DeviceManager.Components

<NavLink href="/">Return Index</NavLink>

<h2>Device Manager</h2>

<NjDeviceManager @ref="_deviceManager" DeviceWidthChanged="StateHasChanged" />

<div>Value changed depending on device display: @(_deviceManager?.GetByWidth("ValueMobile", "ValueTablet", "ValueDesktop", "ValueLargeDesktop") ?? "DefaultValue")</div>


@code {
    NjDeviceManager? _deviceManager;
}
