@namespace CdCSharp.NjBlazor.Features.Layout.Components.Layout

@inherits LayoutComponentBase

@* <CssInclude Refs="@(new string[]{
"_content/Nj.Blazor.Layout/Nj.Blazor.Layout.bundle.scp.css"
})" /> *@

<main>
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

}