@using CdCSharp.NjBlazor.Features.Layout.Components.Spinner

@namespace CdCSharp.NjBlazor.Features.Layout.Components.Spinner.Variants

@inherits NjSpinnerBase

<div class="spinner-box">
    <div class="configure-border-1">
        <div class="configure-core"></div>
    </div>
    <div class="configure-border-2">
        <div class="configure-core"></div>
    </div>
</div>

@code {

}
